---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Timeline from '../components/Timeline.astro';
import { workExperience } from '../constants';
---

<BaseLayout title="About | Ma Babiloni" description="About Ma Babiloni">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title=""
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.webp"
					alt="Ma Babiloni Conducting"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a sound artist and music composer based on Barcelona (Spain) who uses listening and collective sound creation to foster social and ecological awareness. In my artistic practice, I typically explore how different modes of listening to an environment can bring about quiet yet profound transformations in people and in their relationships with each other and with nature.

I studied sound art and collaborative practices in depth during my <strong>Bachelor's degree in Music Composition</strong>, where I interviewed and become friends with Llorenç Barber, one of the most important figures of collective sound art. 


					</p>
					<p>
						My Bachelor's thesis "<strong>Systems of Sound Creation: A Proposal within Collective Sound Art</strong>" outlined a method for analyzing, understanding, and creating collective sound art works. I tested this system by organizing a collaborative concert in which the audience could interact with the sound.

When collaborating, I place special emphasis on horizontal structures, listening equally to everyone’s contributions. At times, I take on the role of an external moderator to ensure that no one dominates the process and that every voice is heard and considered. I also work with consensus-building and the generation of intermediate ideas to help participants find common ground. 


					</p>
					<p>
						I kept exploring this collaborative practices and their connection to technology during in the <strong>Master Of Sound and Music Computing (Pompeu Fabra Barcelona)</strong> where i <strong>developed a real time collaborative Web App for musicians</strong>
						
						
					</p>
					<p>
					Some of my most recent projects include:
					</p>
					<ul>
						<li><strong>Sendero de escuchas</strong>: A guided experience of listening in the forest, where participants propose different ways of listening, engage in various exercises, and share a collective lunch to reflect on the sensations and thoughts that arose from each activity.</li>
						<li><strong>Third Space</strong>: A project that creates a public space for open debate, discussion, and the sharing of ideas about ecology and society. Anyone can join to express concerns and collectively explore possible responses and actions.</li>
					</ul>
				</div>
			</section>
			
			
			<section class="section with-background bg-variant">
				
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Experience</h3>
					<p>Sound, technology, and collaborative creation</p>
				</header>
				
				<!-- Added Timeline component with work experience data -->
				<div class="experience-content">
					<Timeline items={workExperience}/>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
