---
import Icon from './Icon.astro';
---

<section class="box skills">
	
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Collaboration</h2>
		<p>I have been working on collaborative music composition, my projects focus on what emerges from horizontal groups, and how to manage consensus and musical idea-sharing.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="sun" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Participation and Interactivity</h2>
		<p>My projects invite people (often only treated as "audience") to be part of the creation, interaction and resolution of the sounds.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>New tools</h2>
		<p>I believe we can create new technologies that helps us collaborate. With a background in Data Science and a Master in Music Technology (UPF, Barcelona) I developed real-time collaborative tools for musicians (InScoreAI).</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
